@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$type--pixel: 'Press Start 2P', cursive;

@mixin type--pixel {
  font-family: $type--pixel;
  font-weight: 400;
}
