/* VARIABLES & MISC */
@import "variables";
@import "tools";
@import "typography";

/* BLOCKS */
@import "blocks/gamepad";
@import "blocks/header";
@import "blocks/title-screen";

body {
  @include type--content;
  background: $color__dark; // fallback
  background: radial-gradient(darken($color__focus, 45), darken($color__dark, 20));
  color: $color__light;
  padding: 0;
  margin: 0;
  font-size: 24px;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  color: $color__focus;
  mix-blend-mode: soft-light;
  position: absolute;
  opacity: 0.7;
  svg {
    width: 100vw;
    height: 100vh;
    text {
      @include type--content;
      tspan {
        fill: currentColor;
        text-align: center;
      }
    }
  }
}
