// Variables and misc
@import "variables";
@import "tools";
@import "typography";

// Blocks
@import "blocks/gamepad";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/title-screen";
@import "blocks/button";
@import "blocks/pointer";

body {
  @include type--pixel;
  background: $color__dark; // fallback
  background: radial-gradient(darken($color__focus, 45), darken($color__dark, 20));
  color: $color__light;
  padding: 0;
  margin: 0;
  font-size: 24px;
  overflow: hidden;
  * {
    box-sizing: border-box;
    cursor: none;
  }
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
