.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: $spacing--l;
  pointer-events: none; // Don't block gamepad - override for buttons

  &__info {
    @include type--pixel;

  }
  &__score {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 5rem;
    span {
      font-size: 1.5rem;
      margin: 0 0 $spacing--base;
    }
  }

  &__menu {
  }
  &__button {
    @include type--pixel;
    pointer-events: auto;
    appearance: none;
    background: none;
    border: none;
    color: $color__light;
    font-size: 1.5rem;
    padding: $spacing--base;

    &--pause {

    }

    &:hover {
      @include glow($color__light, 2rem, 0.5);
      background: $color__light;
      color: $color__secondary;
    }
  }

  &--paused {
    visibility: hidden;
    opacity: 0;
  }
}
