@keyframes hover {
  0% { transform: rotateX(10deg) rotateY(0deg) translateY(0%); }
  25% { transform: rotateX(10deg) rotateY(3deg) translateY(3%); }
  75% { transform: rotateX(10deg) rotateY(-3deg) translateY(-3%); }
  100% { transform: rotateX(10deg) rotateY(0deg) translateY(0%); }
}

.title-screen {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  perspective: 500px;
  background: rgba($color__dark, 0.85);

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__logo {
    display: block;
    width: 80rem;
    max-width: 100%;
    margin-top: -6rem;
    transform: rotateX(10deg);
    transform-origin: 50% 90%;
    animation: hover 10s ease infinite;
  }
  &__menu {
    list-style: none;
    padding: $spacing--l 0;
    text-align: center;

    &-item {
      margin-bottom: $spacing--l;
    }
    &-button {
    }
  }
}
